a {
  text-decoration: none;
}

.clear {
  clear: both;
}

.img {
  float: left;
  width: 210px;
  height: 210px;
  padding: 10px;
  margin-bottom: 45px;
}

.informacao {
  float: right;
  height: 210px;
  width: calc(100% - 210px);
  position: relative;
  margin-bottom: 45px;
}

.title-info {
  width: 100%;

}

.title-info a {
  text-decoration: none;
  color: rgb(128, 128, 128);
  font: 26px arial;
}

.RS {
  float: left;
  width: 100%;
  padding: 10px 0 20px 0;
}

.RS,
.valor {
  color: #948E91;
  font: 40px arial;
}

.fistComment {
  color: #948E91;
  font: 28px arial;
}

.coments {
  float: left;
  color: #1796D0;
  font: 12px arial;
  padding: 3px 10px;
}

.store {
  float: left;
  color: #1796D0;
  font: 12px arial;
  margin-left: 30px;
  border: 1px solid #1796D0;
  padding: 3px 10px;
  border-radius: 5px;
}

.details {
  margin-left: 30px;
  font-weight: bolder;
}

.user {
  right: 0;
  bottom: 25px;
  position: absolute;
  color: #595959;
}

.icon-user {
  font-size: 40px;
  display: block;
  text-align: right;
  position: relative;
}

.icon-user a {
  color: #595959;
}

.time-post {
  float: right;
  font: 13px arial;
  color: #595959;
}

.options {
  width: 100%;
  position: absolute;
  bottom: 0;
}
