<header>
  <div class="row justify-content-center">
    <a href="#" class="lg">Gatry</a>
    <a href="#" class="icon-header"><span (click)="hidenNavPromo()" class="icon-circle">
        <i class="bi bi-share-fill"></i></span>

    </a>
    <ul [class]="classSubNav" class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
      <li><a class="dropdown-item" href="#">Promoção</a></li>
      <li><a class="dropdown-item" href="#">Avaliação</a></li>
    </ul>
    <a href="#" class="icon-header"><span class="icon-circle"><i class="bi bi-person-fill"></i></span></a>
  </div>
</header>
