.d-flex {
  width: calc(100% - 112.5px);
  float: left;
  margin-right: 5px;
}

.form-control {
  border-color: rgb(225, 225, 225);
  font-size: 13px;
}

.btn-success {
  background-color: #69a74e;
  border-color: #69a74e;
}

.btn-outline-success {
  border: 0;
  color: rgb(150, 150, 150);
}

.btn-outline-success:hover {
  background-color: #fff;
}

.btn-close {
  float: right;
  font-size: 10px;
  top: 0;
}

.alert {
  margin-top: 20px;
  font-size: 13px;
  color: #468847;
  background-color: #e3ffd7;
  border-color: #d0dbcc;
}

.hiden-alert {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.hiden-alert-display-none {
  display: none;
}
