<div
  id="alert"
  [class]="btnCloseClass"
  class="alert alert-success"
  role="alert"
>
  <button
    (click)="closaAlert()"
    type="button"
    id="close"
    class="btn-close"
    aria-label="Close"
  ></button>
  <strong
    >Seja bem-vindo à plataforma colaborativa da Gatry! (Faça login para
    visualizar todas promoções)</strong
  ><br />

  Compartilhe promoções, fotos e opiniões reais sobre os mais diversos produtos
  vendidos na internet.
</div>

<form class="d-flex">
  <input
    class="form-control me-2"
    type="search"
    placeholder="Pesquisar em Promoções"
    aria-label="Search"
  />
  <button class="btn btn-outline-success" type="submit">
    <i class="bi bi-search"></i>
  </button>
</form>
<button type="button" class="btn btn-success">Criar Alerta</button>
